.home-page {
  .list {
    display: flex;
    flex-direction: column;

    &-block {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid black;

      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
